.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* SET UP GRID FOR MAIN CONTAINER */
.body-container {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "head head"
                       "sidebar main";
                       /* "footer footer"; */
}

.header {
  display: fixed;
  height: 150px;
  max-width: 80vw;
  margin: 0 5rem;
  background-color: blue;
  text-align: center;
  grid-area: head;
}

.aside {
  grid-area: sidebar;
}

/* QUERY RESULTS */
.main {
  grid-area: main;
}

/* .footer {
  grid-area: footer;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
