/* SET UP GRID FOR MAIN CONTAINER */
.main-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "head head"
                       "sidebar main";
                       /* "footer footer"; */
}

.mini-container {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "head head"
                       "sidebar main";
                       /* "footer footer"; */
}

/* HEADER */
.header {
  display: flex;
  /* height: 100px; */
  max-width: 80vw;
  margin: 0 5rem;
  /* background-color: blue; */
  justify-content: center;
  align-items:center;
  grid-area: head;
}

/* DATASET INFO */
aside {
  margin-left: 5rem;
  border-right: 2px solid grey;
  margin-right: 1rem;
  grid-area: sidebar;
  min-height: calc(100vh - 60px);
}

/* QUERY RESULTS */
main {
  margin-right: 5rem;
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

/* FOOTER */
/* .footer {
  grid-area: footer;
} */