/* SET UP GRID FOR MAIN CONTAINER */
.main-container {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "head head"
                       "sidebar main";
                       /* "footer footer"; */
}

.mini-container {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 60px auto;
  grid-template-areas: "head head"
                       "sidebar main";
                       /* "footer footer"; */
}

/* HEADER */
.header {
  display: flex;
  /* height: 100px; */
  max-width: 80vw;
  margin: 0 5rem;
  /* background-color: blue; */
  justify-content: center;
  align-items:center;
  grid-area: head;
}

/* DATASET INFO */
.aside {
  grid-area: sidebar;
}

/* QUERY RESULTS */
.main {
  grid-area: main;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

/* FOOTER */
/* .footer {
  grid-area: footer;
} */